<mat-card
  class="slide no-select"
  mat-list-item
  (click)="onSlideSelected(slide)"
  [class.selected]="selected">
  <mat-card-content>
    <div class="verse-tag">{{ slide?.tag }}</div>
    @if (slide?.img) {
      <div class="verse-img-container">
        <img src="{{ slide?.img }}" />
        <div class="img-verse-text">
          {{ slide?.text }}
        </div>
      </div>
    }
    @else {
      <div class="verse-text">{{ slide?.text }}</div>
    }
  </mat-card-content>
</mat-card>
